@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
body {
    height: 100vh;
    width: 100vw;
    /* place-items: center;
    display: grid; */
}

* {
    font-family: 'Josefin Sans', sans-serif;
}
z
form {
    width: 80%;
    margin: auto;
}

span {
    font-size: 14px;
}

#del {
    cursor: pointer;
    color: green;
}

#del:hover {
    color: red;
}

.show {
    display: flex;
    padding: 10px 0;
    justify-content:space-between;
    border-radius: 10px;
}

.card-img{
height: 200px !important;
}